---
import Layout from '../../layouts/Layout.astro';
import PageHeader from '../../components/PageHeader.astro';
import PostHeader from '../../components/PostHeader.astro';
import PostFooter from '../../components/PostFooter.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = (await getCollection('posts')).sort((a, b) => a.data.order - b.data.order);
  return posts.map((post, index) => {
    const previousPost = posts[index - 1];
    const nextPost = posts[index + 1];
    return {
      params: { slug: post.id },
      props: {
        post,
        previousPost: previousPost ? { slug: previousPost.id, title: previousPost.data.title } : undefined,
        nextPost: nextPost ? { slug: nextPost.id, title: nextPost.data.title } : undefined,
      },
    };
  });
}

const { post, previousPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description} type="blog">
  <PageHeader title="" />
  <main class="post-wrapper">
    <article>
      <a href="/blog" class="post-back">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
        Blog
      </a>
      <h1 class="post-title">{post.data.title}</h1>
      <PostHeader writtenOn={post.data.writtenOn} tags={post.data.tags} />
      <Content />
      <PostFooter previousPost={previousPost} nextPost={nextPost} />
    </article>
  </main>
</Layout>
