---
import Layout from '../layouts/Layout.astro';
import { Post, Tag } from '../post';

import homeScreenImage from '../assets/posts/agita/home-screen.webp'
import statusImage from '../assets/posts/agita/status.webp'
import selectiveAddingImage from '../assets/posts/agita/selective-adding.webp'
import pushImage from '../assets/posts/agita/push.webp'
import noRepositoryImage from '../assets/posts/agita/no-repository.webp'
import coverPhoto from '../assets/posts/agita/cover-photo.png'

import PostWrapper from '../components/PostWrapper.astro';
import PostHeader from '../components/PostHeader.astro';
import BackToAllPostsButton from '../components/BackToAllPostsButton.astro';
import Paragraph from '../components/Paragraph.astro';
import ImageWithCaption from '../components/ImageWithCaption.astro';

export const post: Post = {
    name: 'agita',
    title: 'Agita',
    coverImage: coverPhoto,
    coverImageAlt: 'Agita',
    writtenOn: 'March 25, 2022',
    lastUpdatedOn: null,
    description: `Git TUI for augmenting your workflow.`,
    tags: [
        Tag.Coding
    ]
}
---

<Layout title={ post.title } description={ post.description } type={'blog'} image={ post.coverImage }>
	<PostWrapper>
        <PostHeader post={post} />
        <Paragraph>
            I use git a lot. 
            Usually after writing a bunch of code. 
            And then I find that as I'm trying to type these same basic commands, that I've typed a thousand times before, they don't come out right. 
            Usually goes something along the lines of "git statsu", then "git comit", and "gut puhs", and that's on a good day. 
            So I was fed up with this, and thus decided to create Agita:
        </Paragraph>
        <ImageWithCaption image={homeScreenImage} caption="Home screen" />
        <Paragraph>
            All Agita is is a basic text-based user interface --- written in node and distributed on the npm registry --- that exists in your terminal and allows for selecting the commands you want. 
            Sure, the problem can be managed by using shortcuts and aliases but I'm choosing the path of selective ignorance.
        </Paragraph>
        <ImageWithCaption image={statusImage} caption="git status" />
        <Paragraph>
            Plus I can then do some cool stuff like below. 
            This is a user interaction that allows for selectively choosing (or removing) files from the git repository. 
            You can navigate through directories and or select full directories with nothing but your arrow and enter keys.
        </Paragraph>
        <ImageWithCaption image={selectiveAddingImage} caption="Selective stage changes" />
        <Paragraph>
            I also found a tendency to create branch names that don't necessarily represent the purpose of the branch just so that the name is simple and short. 
            I then keep forgetting or typing the name wrong. 
            So Agita makes it simple for whenever you need the name of a remote or branch. Agita searches your .git folder and grabs all remotes and refs automatically.
        </Paragraph>
        <ImageWithCaption image={pushImage} caption="Pick a branch to push" />
        <Paragraph>
            And while not being completely fleshed out, if you do run Agita in a directory that isn't a git repository, it'll help you set one up.
        </Paragraph>
        <ImageWithCaption image={noRepositoryImage} caption="No .git folder present" />
        <Paragraph>
            Agita is open source, all the code is <a class="text-blue-500 hover:underline" href="https://github.com/jhuggett/agita" target="_blank" referrerpolicy="no-referrer">here</a>. 
            And is published to npm <a class="text-blue-500 hover:underline" href="https://www.npmjs.com/package/agita" target="_blank" referrerpolicy="no-referrer">here</a>.
        </Paragraph>
        <BackToAllPostsButton />
    </PostWrapper>
</Layout>