---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Blog - Joel Huggett" description="Blog posts by Joel Huggett.">
  <PageHeader title="Blog" showNav />
  <main>
    <div class="posts-section">
      <ul class="posts-grid">
        {posts.map((post, i) => (
          <PostCard
            index={i}
            title={post.data.title}
            slug={post.id}
            coverImage={post.data.coverImage}
            coverImageAlt={post.data.coverImageAlt}
            writtenOn={post.data.writtenOn}
            description={post.data.description}
            tags={post.data.tags}
          />
        ))}
      </ul>
    </div>
  </main>
</Layout>
